<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Acerca de
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <h3>Acerca de</h3>

  <p>

    Aplicación diseñada para la asignatura DSI que permite organizar tareas pendientes y contactos

  </p>
  <p>
    La aplicación esta realizada utilizando Ionic Framework.
  </p>

  <br>
  <h4>Tu nombre</h4>
    <ion-item>
      <ion-icon name="logo-twitter"></ion-icon>
      <a href="twitter.com">Tu twitter</a>
    </ion-item>
</ion-content>
